services:
  pocketbase:
    container_name: pocketbase
    build:
      context: ./pocketbase
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./pocketbase/data:/pb/pb_data
